*{
	margin: 0;
	padding: 0;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .6s;
}

nav.black{
	background: rgba(0,0,0,0.8);
	height: 100px;
	padding: 10px 100px;
}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .6s;
}

nav.black .logo{
	color: #fff;
}

nav ul{
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
	display: flex;
}

nav ul li{
	list-style: none;
}


nav ul li a{
	line-height: 80px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .6s;
}


nav ul li a:focus{
	outline: none;
}

nav ul li a.active{
	background: #e2472f;
	color: #fff;
	border-radius: 6px;
}


section.sec1{
	width: 100%;
	height: 100vh;
	background: url(bunner.jpg);
	background-size: cover;
	background-position: center;
	

}


section.sec2{
	width: 100%;
	height: 100vh;
	margin-top: 16%;
	background:;
	background-size: cover;
	background-position: center;
	

}

section.sec3{
	width: 100%;
	height: 100vh;
	background:;
	background-size: cover;
	background-position: center;
	

}



.content{
	margin: -30% auto;
	text-align: center;

}

.content h1{
	font-size: 60px;
	color: #fff;
 	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}

.content h2{
	font-size: 30px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;

}

.content a{
	padding: 12px 60px;
	text-decoration: none;
	list-style: none;
	background: #e2472f;
	color: #fff;
	border-radius: 6px;
}

.container{
	margin-top: -49%;
	position: static;
}




.tab{
	background: #111;
	color: #fff;
	width: 13%;
	display: inline-block;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	border-radius: 6px;
	margin-top: 1%;
	transition: .3s;
}

.tab:hover{
	background-color: #e2472f;
}

#re{
	width: 20%;
	height: 30px;
	outline: none;
	border-radius: 6px;
	border: solid 1px;
	transition: .3s;
}

#tel{
	width: 20%;
	height: 30px;
	outline: none;
	border-radius: 6px;
	margin-top: 1%;
	border: solid 1px;
	transition: .3s;
}

#titulo{
	width: 40%;
	height: 30px;
	outline: none;
	border-radius: 6px;
	margin-top: 4%;
	border: solid 1px;
	transition: .3s;
}

.areatexto{
	width: 70%;
	height: 300px;
	outline: none;
	border-radius: 6px;
	margin-top: 1%;
	border: solid 1px;
	transition: .3s;
}


.info h2{
	color: #111;
}


.link{
	margin-top:3%;
	position: static;

}



.link a{
	background: #e2472f;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	border-radius: 6px;
	margin-top: 1%;
	transition: .3s;
}

#section3{
	margin-top: 5%;
}

#section3 h1{
	color: #111;
}

.regs{
	position: static;
	margin-top: 30%;

}

.regs h1{
	color: #111;
}


.reg{
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	margin-top: 5%;
}

.reg h3{
	margin-top: 8px;
	color: #fff;
	position: static;
}

#default-open{

	background: #111;
	width: 20%;	
	height: 45px;
	border-radius: 6px;
	transition: .3s;
}

#default-open:hover{
	background: #e2472f;
	width: 25%;
}

.btnS{
	background: #088A08;
	border-radius: 6px;
	width: 12%;
	height: 30px;
	margin-top: 5%;
	border:none;
	font-size: 15px;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	outline: none;
	
}

.btnL{
	background: #FF0000;
	border-radius: 6px;
	width: 12%;
	height: 30px;
	margin-top: 5%;
	border:none;
	font-size: 15px;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	outline: none;

}

.campo{
	width: 30%;
	height: 40px;
	border-radius: 6px;
	border: solid 1px;
	outline: none;
	margin-top: 1%;
}

.campoT{
	width: 55%;
	height: 230px;
	border-radius: 6px;
	border: solid 1px;
	outline: none;
	margin-top: 1%;
	font-size: 15px;
	font-style: normal;
}

.btnP{
	background: #e2472f;
	border-radius: 6px;
	width: 12%;
	height: 30px;
	margin-top: 1%;
	border:none;
	font-size: 15px;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	outline: none;

}


.campoP{
	width: 30%;
	height: 40px;
	border-radius: 6px;
	border: solid 1px;
	outline: none;
	margin-top: 4%;
}


article{
	background: #A4A4A4;
	margin-bottom: 5px;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
}




